
<!-- <h1>Notifications</h1>
<%#= @activities.each do |activity| %>
<div class="activity">
<%#= link_to activity.owner.username, activity.owner if activity.owner %>
added a new challenge for the game <%#= link_to "#{activity.trackable.game} @ £#{activity.trackable.stake} stake", challenge_path(activity.trackable) %>
<#% end %>

 -->
