<div class="container view-height">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>Create a challenge</h1>
      <%= render "shared/challengeform" %>
    </div>
  </div>
</div>
