.modal-dimensions {
  width: 60%;
}
.mikes-modal {
  display: flex;
  justify-content: space-between;
}
.modal-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    margin-left: 10px;
    color: black;
    letter-spacing: 3px;
  }
  .modal-btns {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .price {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 44px;
    color: black;
    font-weight: 700;
    letter-spacing: 5px;
    h1 {
      color: $orange;
    }
  }
  .text-body {
    margin-left: 10px;
    letter-spacing: 1px;
    font-weight: 500;
    p {
      color: black;
    }
    h1 {
      margin: 0;
      padding: 0;
      color: $blue;
    }
  }
}
.modal-image {
  img {
    height: 500px;
  }
}
#deposit-button {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: $red;
  width: 40%;
  text-align: center;
  a {
    color: white;
  }

}
