.message-input {
  // padding: 10px;
  // height: 40px;
  // width: 80vw;
  // margin-top: 20px;
}

#message-button {
// margin-top: 0px;
  margin-bottom: 50px;
}

.relative-div {
  position: relative;
  margin-bottom: 50px;
}

.position-right {
  position: absolute;
  right: 0px;
}

.text-align-center {
  text-align: center;
}

.align-center {
  margin: auto;
}

.flexbox {
  display: flex;
}
