.messages-pic {
  margin-top: 10px;
  margin-right: 60px;
  align: center;
  position:absolute;
  right: 10px;
  background-image: url("chat.png");
  background-size: cover !important;
  opacity: .75;
  height: 35vh;
  width: 25vw;
  z-index: -1;
  // border: solid;
  // border-color: #4EADED;
  border-radius: 20px;
}

.messages-intro {
  width: 50vw;
  margin-bottom: 20px;
  p{
    font-size: 15px;
  }
}
