<div class="footer">
  <div class="footer-content">
    <div class="footer-social-media">
 <p><i class="fab fa-facebook-square"></i></p>
 <p><i class="fab fa-twitter-square"></i></p>
 <p><i class="fab fa-medium"></i></p>
 <p><i class="fab fa-twitch"></i></p>
    </div>

<div class= "footer-columns">
    <div class= "footer-column lonely-items">
      <div class= "logo-bettrplay">
      <%= image_tag "logo.png", class: "footer-logo" %>
      <p>Bettrplay</p>
    </div>
    </div>
    <div class= "center-columns">
    <div class="footer-column">
      <p>Office locations</p>
      <p>Management</p>
      <p>Public Relations</p>
    </div>
    <div class="footer-column">
      <p>Company information</p>
      <p>Investors relations</p>
      <p>Media & Press</p>
    </div>
    <div class="footer-column">
      <p>Recruitment</p>
      <p>Career opportunities</p>
    </div>
  </div>
    <div class="footer-column text-right lonely-items ">
      <p> <i class="fas fa-globe"></i> Languages:</p>
      <p>English</p>
      <p>Terms of use</p>
      <p>Contact us</p>
    </div>
  </div>

    <div class="footer-down">
      <p>© 2018 Bettrplay. All Rights Reserved.</p>
      <p>Bettrplay, Bettrplay.com and the Bettrplay logo are trademarks of Betterplay Company in the U.K and/or other countries.</p>
    </div>
  </div>
</div>



