<div class="container-fluid homepage-banner">
  <div class="homepage-slogan text-center">
    <%= image_tag "white_logo.png", height: '220', width: '188', alt: "bettrplay logo" %>
    <h3>Win Money Playing Your Favourite Video Games!</h3>
    <%= link_to "Challenges", challenges_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
