<div class="container wonpage-container">
  <div class="row">
    <hr>
    <div class="col-xs-4 text-center">
      <h1>
        You lost this!
      </h1>
      <hr>
      <h2>
        You lost <strong>£<%= @challenge.stake %></strong>
      </h2>
    </div>
    <div class="col-xs-8 text-center">
      <img src="https://res.cloudinary.com/dcqopgfjo/image/upload/v1542981739/loser.png" style="width: 300px" alt="">

    </div>
    </div>
    <hr>
  </div>
</div>

