<div class="container wonpage-container">
  <div class="row">
    <hr>
    <div class="col-xs-4 text-center">
      <h1>
        You won this!
      </h1>
      <hr>
      <h2>
        You won <strong>£<%= @challenge.stake %></strong>
      </h2>
    </div>
    <div class="col-xs-8 text-center">
      <img src="https://res.cloudinary.com/dcqopgfjo/image/upload/v1542980872/undraw_winners_2yls.svg" style="width: 66%" alt="">

    </div>
    </div>
    <hr>
  </div>
</div>

