.wonpage-container {
  margin-top: 20vh;
  height: 80vh;
}

.challenge-show-form {
  height: 100vh;
  margin-top: 10vh;
  box-shadow: 0 0 15px rgba(150,150,150,0.6);
  background-color: white;
  opacity: 0.9;
  height: 50%;
  padding-bottom: 10px;
}
.container-show {
  height: 100vh;
}
.pad {
  margin: 5px;
}

.nav-tabs {
  .li a {
    margin: 0;
    margin-right: 0;
  }
  .li.active a {
    border-bottom: 5px solid orange;
  }
}

